/* Depoimentos */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 80px;
gap: 130px;

position: relative;
width: 1440px;
height: 591px;

background: #000000;


/* Frame 2085665291 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 204px;
isolation: isolate;

margin: 0 auto;
width: 396px;
height: 431px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
width: 1119px;
height: 1192px;
left: -941px;
top: -388px;

background: rgba(255, 255, 255, 0.02);
box-shadow: inset 0px 8px 48px rgba(0, 96, 240, 0.2);
filter: blur(50px);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 23 */

box-sizing: border-box;

position: absolute;
width: 1119px;
height: 1192px;
left: -225px;
top: -388px;

background: rgba(255, 255, 255, 0.02);
box-shadow: inset 0px 8px 48px rgba(0, 96, 240, 0.2);
filter: blur(50px);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2085665288 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 87px;

width: 332px;
height: 116px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* “A Inteligência Artificial vem para transformar, para apoiar o médico em suas decisões e tudo isso de forma muito rápida e precisa" */

width: 332px;
height: 116px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 145%;
/* or 29px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2085665291 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 40px;

width: 332px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* Frame 2085665287 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

margin: 0 auto;
width: 87px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vivi Leão */

width: 87px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */

/* Cor Primária/Brand */
color: #E74F10;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Editora no G1 */

width: 87px;
height: 14px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 120%;
/* or 14px */

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;

margin: 0 auto;
width: 141px;
height: 48px;

background: rgba(255, 255, 255, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link matéria */

width: 83px;
height: 18px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chevron_forward */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Bounding box */

position: absolute;
width: 18px;
height: 18px;
left: 107px;
top: 15px;

background: #D9D9D9;


/* chevron_forward */

position: absolute;
left: 80.14%;
right: 15.92%;
top: 40.62%;
bottom: 40.62%;

/* Neutral/White */
background: #FFFFFF;


/* Frame 2085665289 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 40px;
isolation: isolate;

margin: 0 auto;
width: 396px;
height: 431px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
width: 1119px;
height: 1192px;
left: -941px;
top: -388px;

background: rgba(255, 255, 255, 0.02);
box-shadow: inset 0px 8px 48px rgba(0, 96, 240, 0.2);
filter: blur(50px);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 23 */

box-sizing: border-box;

position: absolute;
width: 1119px;
height: 1192px;
left: -225px;
top: -388px;

background: rgba(255, 255, 255, 0.02);
box-shadow: inset 0px 8px 48px rgba(0, 96, 240, 0.2);
filter: blur(50px);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2085665288 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 87px;

width: 332px;
height: 367px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* "Segundo o médico Lucas Oliveira Junqueira e Silva, responsável técnico da Livia, a ferramenta de IA atua como uma “segunda opinião” para os médicos. Ela oferece sugestões diagnósticas baseadas em evidências e ajuda a acelerar o manejo clínico." */

width: 332px;
height: 232px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 145%;
/* or 29px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2085665291 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 40px;

width: 332px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 2085665287 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

margin: 0 auto;
width: 179px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Lucas Oliveira */

width: 179px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */

/* Cor Primária/Brand */
color: #E74F10;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Responsável Técnico Livia med */

width: 179px;
height: 14px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 120%;
/* or 14px */

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;

margin: 0 auto;
width: 141px;
height: 48px;

background: rgba(255, 255, 255, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link matéria */

width: 83px;
height: 18px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chevron_forward */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Bounding box */

position: absolute;
width: 18px;
height: 18px;
left: 107px;
top: 15px;

background: #D9D9D9;


/* chevron_forward */

position: absolute;
left: 80.14%;
right: 15.92%;
top: 40.62%;
bottom: 40.62%;

/* Neutral/White */
background: #FFFFFF;


/* Frame 2085665290 */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 174px;
isolation: isolate;

margin: 0 auto;
width: 396px;
height: 431px;

border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Rectangle 22 */

box-sizing: border-box;

position: absolute;
width: 1119px;
height: 1192px;
left: -941px;
top: -388px;

background: rgba(255, 255, 255, 0.02);
box-shadow: inset 0px 8px 48px rgba(0, 96, 240, 0.2);
filter: blur(50px);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 23 */

box-sizing: border-box;

position: absolute;
width: 1119px;
height: 1192px;
left: -225px;
top: -388px;

background: rgba(255, 255, 255, 0.02);
box-shadow: inset 0px 8px 48px rgba(0, 96, 240, 0.2);
filter: blur(50px);
backdrop-filter: blur(5px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 24px;
transform: rotate(180deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 2085665288 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 87px;

width: 332px;
height: 145px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* “Na Livia Med, buscamos a aliança entre inteligência artificial avançada e expertise médica. Todo o processo de construção do conhecimento é orientado por especialistas” */

width: 332px;
height: 145px;

font-family: 'Outfit';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 145%;
/* or 29px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 2085665291 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 40px;

width: 332px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* Frame 2085665287 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 6px;

margin: 0 auto;
width: 130px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Fabricio Avini */

width: 130px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 120%;
/* identical to box height, or 24px */

/* Cor Primária/Brand */
color: #E74F10;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Portal Hospital Brasil */

width: 130px;
height: 14px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 120%;
/* or 14px */

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 16px;
gap: 8px;

margin: 0 auto;
width: 141px;
height: 48px;

background: rgba(255, 255, 255, 0.1);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link matéria */

width: 83px;
height: 18px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 18px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

/* Neutral/White */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* chevron_forward */

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Bounding box */

position: absolute;
width: 18px;
height: 18px;
left: 107px;
top: 15px;

background: #D9D9D9;


/* chevron_forward */

position: absolute;
left: 80.14%;
right: 15.92%;
top: 40.62%;
bottom: 40.62%;

/* Neutral/White */
background: #FFFFFF;
